/* Estilos CSS aquí */
 body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}
h1 {
  text-align: center;
  color: #333;
}

#filters #crud {
  background-color: #E67E22;
}

#filters #crud:hover {
  background-color: #D35400;
}

#filters {
  display: flex;
  justify-content: center; /* Centrar los botones */
  gap: 10px;
  margin-bottom: 20px;
}
#filters button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
#filters button:hover {
  background-color: #0056b3;
}


#phone-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.phone-item {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  background-color: white;
  transition: transform 0.2s;
}
.phone-item:hover {
  transform: translateY(-5px);
}
.phone-item h3 {
  margin-top: 0;
  color: #007bff;
}
.phone-item p {
  margin-bottom: 5px;
}
.phone-item strong {
  font-weight: bold;
}
#Buscador {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#phone-list .error-message {
  text-align: center;
  color: red;
  font-style: italic;
}

#reconextLogo {
  display: block;
  width: 200px;
}

#search {
  display: flex;;
}
#search #refreshButton {
  background-color: rgb(77, 179, 85);
  color: white;
  padding: 10px 20px;
  width: 8%;
  height: 6%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#search #refreshButton:hover {
  background-color: rgb(70, 141, 76);
}


#back-to-home {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #36404b;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

#back-to-home:hover {
  background-color: #151516;
}