body {
    font-family: Arial, sans-serif;
    display: block; /* Cambiado a block */
    height: 100vh;
    background-color: #f0f0f0;
    position: relative; /* Agregado para el posicionamiento absoluto */
    margin: 0; /* Asegura que no haya márgenes innecesarios */
}

.login-container {
    width: 450px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute; /* Para que el login container no se vea afectado por el cambio de display del body*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-title {
    margin-bottom: 20px;
    color: #007bff;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    background: #337ab7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background: #5586b8;
}

.header {
    position: absolute; /* O fixed si quieres que la imagen se mantenga fija al hacer scroll */
    top: 0;
    left: 0;
}

img {
    padding: 10px 20px;
    width: 80%;
}